@import "tailwindcss";

:root {
  /* brand colors */
  --brand-red: #e50914;
  --brand-white: #ffffff;

  --background: var(--brand-white);
  --foreground: #171717;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme inline {
  --color-brand-red: var(--brand-red);
  --color-brand-white: var(--brand-white);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes dropdown {
  from {
    opacity: 0;
    transform: translateY(-10px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes dropdown-close {
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  to {
    opacity: 0;
    transform: translateY(-10px) scale(0.95);
  }
}

.animate-dropdown {
  animation: dropdown 0.2s ease-out forwards;
}

.animate-dropdown-close {
  animation: dropdown-close 0.2s ease-in forwards;
}


body {
  @apply bg-brand-white text-foreground font-sans;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
.animate-fade-out {
  animation: fadeOut 1s forwards;
}

